.projects-btn {
    margin: 5px;
    display: inline-block;
}

.projects-title {
    text-align: center;
}

.projects-body {
    font-size: 18px;
}

.projects-btn-group {
    text-align: right;
}

.projects-btn-tasks {
    text-align: center;
    margin-right: 5px;
}

.project-tasks-counter{
    text-align: left;
    font-size: 16px;
}
