.project-menu-container{
    background: #fafafa;
    color: #2e2e2e;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 15px;
}

.project-page-container {
    text-align: center;
}